# Initial dataset exploration
EDA/

# Virtual environment and dependencies
envSummer1/
envSummer1_conda/
PyTorch-Network-Loader/

# Results and model checkpoints
old_src/
old_results/
results/old_reconstr/
report/
tests/
data/
data-full/
*.sh
*.job
*.pt

# Logs and Python cache
logs/
__pycache__/
.vscode/
*.png
*.err
*.txt