# Initial dataset exploration
EDA/

# Virtual environment and dependencies
envSummer1/
envSummer1_conda/
PyTorch-Network-Loader/

# Results and model checkpoints
old_src/
old_results/
results/
tests/
*.pkl
*.sh
*.job
*.pt

# Logs and Python cache
logs/
__pycache__/
*.log
*.err
*.txt
*.json